<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC5Ie3Rb3UNrKheiSBc51MHXg8Y-UymHAw</string>
	<key>GCM_SENDER_ID</key>
	<string>488104080173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mindquiz</string>
	<key>PROJECT_ID</key>
	<string>mindquiz-f9186</string>
	<key>STORAGE_BUCKET</key>
	<string>mindquiz-f9186.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488104080173:ios:14d23d6881a2e8397e19a4</string>
</dict>
</plist>